.cartList
{
    border-color: rgb(173, 49, 49);
    border: 5px;
    width: 60%;
    height: 60%;
    margin-left: 10%;
    background-color: aquamarine;
}
.cartTable thead
{
    color: brown;
    font-size: larger;
}
.cartTable tbody img
{
    width: 35px;
    height: 35px;
}
tbody,tr
{
    
    margin-left: 10%;
}
table
{
    column-width: 20%;
    row-gap: 10%;
}