
.navbar
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /*border-bottom: 1px solid rgb(152, 155, 153);
    margin-bottom: 10px;*/
}

.navbarLogo img
 {
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

.navbarLinks
 {
    display: flex;
    gap: 40px;
    margin-right: 100px;
}